.ProductType {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}


.ProductType img {
    height: 30%;
    width: 30%;
    z-index: 1;
}

.ProductType:hover img{
    opacity: 0.5;
}

.ProductType:hover img{
    transition: all 0.5s ease-in-out;
}

.ProductTypeItems {
    border-radius: 10px;
    width: 75%;
    height: 100%;
    box-shadow:  0 5px 10px gray;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;

}

.ProductTypeItems h1 {
    color: gray;
    /*text-shadow: 0 1px 4px gray;*/
    text-align: center;
    text-decoration: none;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    transition: all 0.8s ease 0s;
    font-size: 2vw;
}

.ProductTypeItems:hover h1 {
    opacity: 0.5;
}