.Contact {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-wrap: wrap-reverse;
    color: gray;
}

.Address {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 30px;

}

.Address span {
    margin: 30px;
}
.Address img {
    margin: 20px;
}

.ContactForm {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 16px;
    width: 50%;
}

.ContactForm form {
    width: 100%;
}

.ContactForm textarea {
    height: 150px;
}

.ContactForm button {
    margin-top: 20px;
    margin-left: 0px;
    width: 40%;
    margin-bottom: 20px;
    min-height: 40px;

}

.ContactForm label {
    margin-top: 20px;
}

.Error {
    color: red;
}

.Success {
    color: green;
}