.Auth {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: gray;
}
.Auth form {
    width: 40%;
    min-width:400px;
}
.Auth a{
    text-decoration: none;
    color: Black;
}
.Auth button {
    margin-top: 20px;
    background-color: Black;
    border-color: Black;
    width: 40%;
    margin-bottom: 20px;

}

.Auth button:hover{
    background-color: gray;
    border-color: Black;
}

.Auth button:focus,
.Auth button:active {
    outline: none;
    box-shadow: none;
}


.Auth label {
    margin-top: 20px;
}


.Error {
    color: red;
}
.Success {
    color: green;
}