.Modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ModalBody {
    align-self: center;
    background-color: white;
    text-align: center;
    border-radius: 10px;

}

.Modal h4{
    text-align: center;
    color: gray;
}

.Modal h6{
    text-align: center;
    color: gray;
    margin-top: 20px;
}

.Modal h4:before,
.Modal h4:after {
    background-color: gray;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 8%;
}

.Modal h4:before {
    right: 0.5em;
    margin-left: -50%;
}

.Modal h4:after {
    left: 0.5em;
    margin-right: -50%;
}

.Modal p{
    color:gray;
    text-align: center;
    font-size: 12px;
    margin: 10px;
}

.Modal a:hover{
    text-decoration: none;
    color: black;
}